<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </layout>
    </appender>

    <logger name="org.springframework.boot" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.context.support" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="hsqldb.db" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="io.github.glandais" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="info.tomacla.biketeam" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>