html {
    width: 100%;
    height: 100%;
}


.elevation-control .tooltip {
    opacity:1 !important;
}

.elevation-control.elevation .background {
    background-color: rgba(255, 255, 255, 1) !important;
}

.profile-images {
    align-items:center;
    display:flex;
}

.profile-images-item img {
    border:1px solid white;
    border-radius: 12px;
}

.profile-images-item:nth-child(n+2) {
    margin-left: -12px;
}

.profile-images-item:nth-child(3) {
    z-index:1;
}

.profile-images-item:nth-child(2) {
    z-index:2;
}

.profile-images-item:nth-child(1) {
    z-index:3;
}

.mapHoverIcon {
    width:16px;
    height:16px;
    background-color:white;
    border:1px solid black;
    border-radius:8px;
}

.mapStartIcon {
    width:16px;
    height:16px;
    background-color:#A0B046;
    border:1px solid black;
    border-radius:8px;
}

.mapEndIcon {
    width:16px;
    height:16px;
    background-color:#F24E4E;
    border:1px solid black;
    border-radius:8px;
}