html {
    width: 100%;
    height: 100%;
}

.short-label {
    max-width:35vw;
    text-overflow:ellipsis;
}

@media (min-width: 1200px) {

    .short-label {
        max-width:10vw;
        text-overflow:ellipsis;
    }

}

.leaflet-tooltip-pane .circle-text {
  color: black;
  background: transparent;
  border:0;
  box-shadow: none;
  font-size:0.8em;
}

.profile-images {
    align-items:center;
    display:flex;
}

.profile-images-item img {
    border:1px solid white;
    border-radius: 12px;
}

.profile-images-item:nth-child(n+2) {
    margin-left: -12px;
}

.profile-images-item:nth-child(6) {
    z-index:1;
}

.profile-images-item:nth-child(5) {
    z-index:2;
}

.profile-images-item:nth-child(4) {
    z-index:3;
}

.profile-images-item:nth-child(3) {
    z-index:4;
}

.profile-images-item:nth-child(2) {
    z-index:5;
}

.profile-images-item:nth-child(1) {
    z-index:6;
}

.mapHoverIcon {
    width:16px;
    height:16px;
    background-color:white;
    border:1px solid black;
    border-radius:8px;
}

.mapStartIcon {
    width:16px;
    height:16px;
    background-color:#A0B046;
    border:1px solid black;
    border-radius:8px;
}

.mapEndIcon {
    width:16px;
    height:16px;
    background-color:#F24E4E;
    border:1px solid black;
    border-radius:8px;
}

.container-fluid-responsive {
    height:calc(100% - 99px);
}

#map-wrapper {
    height:calc(100% - 150px - 77px);
}

#gpxtoolmap-wrapper {
    height:calc(100% - 150px - 48px);
}

#gpxtoolrawmap-wrapper {
    height:100%;
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .container-fluid-responsive {
        height:calc(100% - 59px);
    }

    #map-wrapper {
        height:calc(100% - 150px - 47px);
    }

    #gpxtoolmap-wrapper {
        height:calc(100% - 150px - 50px);
    }

}